<h4>One way databinding: Component to DOM</h4>
<ul class="list">  
    <li class="list-inline">
        Interpolation: Adi: {{user.name}} Soyadi:{{user.surname}}
    </li>
    <li class="list-inline">
        Property Binding:
        <input [value]="user.title"/>
    </li>
    <li class="list-inline">
        Attribute Binding:
        <input [attr.disabled]="!user.isEditable?'disabled':null"/>
    </li>
    <li class="list-inline">
        <p [class.red]="user.isEditable">Class Binding:</p> 
    </li>
    <li class="list-inline">
        <p [style.backgroundColor]="user.title==='Fariz'?'yellow':'lightblue'" [style.width]="'100px'">Style Binding:</p> 
    </li>
</ul>

<h4>One Way Binding: DOM to Component</h4>
<ul class="list">  
    <li class="list-inline">
       Event binding
       <button (click)="clicked($event)">Save</button>
       <input type="text" (keyup.enter)="keyupEnter($event);" (blur)="keyupEnter($event);" >
    </li>
    
</ul>
<h4>Two Way Binding</h4>
<ul class="list">  
    <li class="list-inline">
        ngModel
        <input type="text" [(ngModel)]="user.title" >
    </li> 
</ul>