<div class="container p-4">
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <ul class="list-inline">
        <li><button IgxButton routerLink="home">Home</button></li>
        <li><button IgxButton routerLink="contact">Contact</button></li>
        <li><button IgxButton routerLink="aboutus">About Us</button></li>
        <li><button IgxButton  routerLink='user'>User</button></li>
        <li><button IgxButton  [routerLink]="['user',10,'detail']">User detail (10)</button></li>
        <li><button IgxButton  [routerLink]="['user',10,'permission']">User permissions (10)</button></li>
        <li><button IgxButton  [routerLink]="['user',10,'posts']">User posts (10)</button></li>
        <li><button IgxButton  [routerLink]="['user',10,'settings']">User posts (10)</button></li>
      </ul>
    </div> 
  </div>
</div> 
   
<router-outlet></router-outlet>

<ngx-spinner bdColor = "rgba(78,78,78,0.8)"  size = "medium" color = "#00b6cb" type = "ball-spin-fade"  [fullScreen] = "true">  <p style="color: white" > Yüklenir... </p> </ngx-spinner>