@import './assets/styles/variables';
@import "../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import '~ngx-toastr/toastr';
@import './assets/styles/toastr';
@import "~igniteui-angular/lib/core/styles/themes/index";
@import './assets/styles/igx-theme';
